@{
    ViewBag.Title = "Index";
}

<div class="container index">
    <div class="row">
        <div class="login-box">
            <h1>Eventizer</h1>

            <div class="alert-wrap">
                <div class="alert alert-danger msg-invalid">
                    <strong>Geez.</strong> Wrong Email/Password.
                </div>
                <div class="alert alert-success msg-loggedin">
                    Redirecting you to your dashboard.
                </div>
                <div class="alert alert-warning msg-smthwentwrong">
                    <strong>Something went wrong.</strong> Try again later.
                </div>
                <div class="alert alert-success msg-loggedout">
                    <strong>Yo.</strong> You've been logged out.
                </div>
            </div>
            <form role="form" id="login-form">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">

                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>
<script>
    var urlParams;
    (window.onpopstate = function () {
        var match,
            pl = /\+/g,  // Regex for replacing addition symbol with a space
            search = /([^&=]+)=?([^&]*)/g,
            decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
            query = window.location.search.substring(1);

        urlParams = {};
        while (match = search.exec(query))
            urlParams[decode(match[1])] = decode(match[2]);
    })();
    $(document).ready(function () {
        if (typeof urlParams !== 'undefined') {
            if (urlParams.Logout == 'True') {
                $('.msg-loggedout').stop().fadeIn();
                setTimeout(function () { $('.msg-loggedout').stop().fadeOut(); }, 2000);
            }
        }
        var request;
        $('#login-form').submit(function (e) {

            if (request) {
                request.abort();
            }
            var $form = $(this);
            var $inputs = $form.find("input, select, button, textarea");
            var serializedData = $form.serialize();

            $inputs.prop("disabled", true);

            request = $.ajax({
                url: "@Url.Action("Login", "Ajax")",
                type: "post",
                data: serializedData
            });

            request.done(function (response, textStatus, jqXHR) {
                $('.alert').hide();

                console.log(response);
                if (response == 0) {
                    $('.msg-invalid').stop().fadeIn();
                }
                else if (response == 1) {
                    $('.msg-loggedin').stop().fadeIn();
                    setTimeout(function () { window.location = '/Dashboard'; }, 1000);
                }
                else {
                    $('.msg-smthwentwrong').stop().fadeIn();
                }
            });

            request.fail(function (jqXHR, textStatus, errorThrown) {
                console.error(
                    "The following error occured: " +
                        textStatus, errorThrown
                );
            });

            request.always(function () {
                $inputs.prop("disabled", false);
            });

            e.preventDefault();
        });
    });

    showAlert = function (heading, text) {
        var modalMarkup = '<div class="modal fade" id="modal-alert"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title">' + heading + '</h4></div><div class="modal-body"><p>' + text + '</p></div></div></div></div>';

        $('body').append(modalMarkup);
        $('#modal-alert').modal();

    };

</script>
